<% if donations.any? %>
<% donations.each do |donation| %>
  <li class="donation">
    <%= check_box_tag "select" %>
    <span><%= link_to donation.donor.name("human"), donation_path(donation.stripe_id) %></span>
    <span><%= donation.donor.email %></span>
    <span><%= donation.fund.name %></span>
    <span><%= donation.created_at.strftime("%b %d, %Y") %></span>
  </li>
<% end %>

<% else %>
	<li>
		<p>No matching records.</p>
	</li>
<% end %>
