<h1 class="page-header">Donations</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Recipient</th>
      <th>Fund</th>
      <th>Amount</th>
      <th>Fees</th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.stripe_charge_id %></td>
        <td><%= link_to donation.recipent.name, admin_user_path(donation.recipient) %></td>
        <td><%= donation.fund.name %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.inspect %></td>
      </tr>
    <% end %>
  </tbody>
</table>
