<p id="notice"><%= notice %></p>

<p>
  <strong>Stripe:</strong>
  <%= @donation.stripe_id %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @donation.stripe_customer_id %>
</p>

<p>
  <strong>Stripe invoice:</strong>
  <%= @donation.stripe_invoice_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Caputed:</strong>
  <%= @donation.caputed %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @donation.paid %>
</p>

<p>
  <strong>Refunded:</strong>
  <%= @donation.refunded %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @donation.currency %>
</p>

<p>
  <strong>Stripe card:</strong>
  <%= @donation.stripe_card_id %>
</p>

<p>
  <strong>Card last four:</strong>
  <%= @donation.card_last_four %>
</p>

<p>
  <strong>Card brand:</strong>
  <%= @donation.card_brand %>
</p>

<p>
  <strong>Card exp month:</strong>
  <%= @donation.card_exp_month %>
</p>

<p>
  <strong>Card exp year:</strong>
  <%= @donation.card_exp_year %>
</p>

<p>
  <strong>Stripe failure message:</strong>
  <%= @donation.stripe_failure_message %>
</p>

<p>
  <strong>Stripe failure code:</strong>
  <%= @donation.stripe_failure_code %>
</p>

<p>
  <strong>Statement description:</strong>
  <%= @donation.statement_description %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
