<% default_sort = "first_name" %>
<h1 class="page-header">Users</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <%= sortable_header("first_name", "Name", admin_users_path(sort: "first_name", direction: get_sort_direction(params[:direction]))) %>
        <%= sortable_header("email", "Contact Email", admin_users_path(sort: "email", direction:  get_sort_direction(params[:direction]))) %>
        <%= sortable_header("account_type", "Entity Type", admin_users_path(sort: "account_type", direction:  get_sort_direction(params[:direction]))) %>
        <%= sortable_header("stripe_customer_id", "Customer ID", admin_users_path(sort: "stripe_customer_id", direction:  get_sort_direction(params[:direction]))) %>
        <%= sortable_header("stripe_account_id", "Account ID", admin_users_path(sort: "stripe_account_id", direction:  get_sort_direction(params[:direction]))) %>
        <%= sortable_header("stripe_verification_status", "Verification Status", admin_users_path(sort: "stripe_verification_status", direction:  get_sort_direction(params[:direction]))) %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= link_to entity_name(user), admin_user_path(user) %></th>
          <th><%= link_to user.email, admin_user_path(user) %></th>
          <td><%= user.account_type.capitalize %></td>
          <th><%= link_to user.stripe_customer_id, stripe_customer_path(user) %></th>
          <th>
            <% if user.has_stripe_account? %>
              <%= link_to user.stripe_account_id, stripe_account_path(user) %></th>
            <% else %>
              n/a
            <% end %>
          <th>
            <% if user.has_stripe_account? %>
              <%= user.stripe_verification_status %>
            <% else %>
              n/a
            <% end %>
          </th>
          <th><%= link_to "View Profile", user_path(user), class: "btn btn-default btn-xs" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

