<h1 class="page-header">Donations</h1>
<strong>Total Donations</strong>: <%= Donation.all.count %><br>
<strong>Total Charges</strong>: <%= Money.new(Donation.all.sum(:amount_in_cents_usd), "USD") %><br>
<strong>OneDonation 5%</strong>: <%= Money.new(Donation.all.sum(:onedonation_fee_in_cents_usd), "USD") %><br>
<strong>Stripe Profit</strong>: <%= Money.new(Donation.all.sum(:stripe_fee_in_cents_usd), "USD") %>

<table class="table">
  <thead>
    <tr>
      <%= sortable_header("recipient", "Recipient", admin_donations_path(sort: "recipient", direction: get_sort_direction(params[:direction]))) %>
      <%= sortable_header("state", "Status", admin_donations_path(sort: "state", direction: get_sort_direction(params[:direction]))) %>
      <%= sortable_header("amount_in_cents", "Amount", admin_donations_path(sort: "amount_in_cents", direction: get_sort_direction(params[:direction]))) %>
      <%= sortable_header("aggregated_fee_in_cents", "Fee", admin_donations_path(sort: "aggregated_fee_in_cents", direction: get_sort_direction(params[:direction]))) %>
      <%= sortable_header("received_in_cents", "Received", admin_donations_path(sort: "received_in_cents", direction: get_sort_direction(params[:direction]))) %>
      <%= sortable_header("remote_ip", "IP Address", admin_donations_path(sort: "remote_ip", direction: get_sort_direction(params[:direction]))) %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td>
          <%= link_to donation.recipient.name("human"), admin_user_path(donation.recipient.username) %>
          <br> <small><%= link_to donation.fund.name, admin_user_fund_path(donation.recipient, donation.fund) %></small>
        </td>
        <td><%= donation.state %></td>
        <td>
          <%= "#{Money.new(donation.amount_in_cents, donation.stripe_currency).format} #{donation.stripe_currency.upcase}" %>
          <% if donation.stripe_currency != "usd" %>
            <br><small class="text-muted"><%= "(#{Money.new(donation.amount_in_cents_usd, "USD").format} USD)" %></small>
          <% end %>
        </td>
        <td>
          <%= "#{Money.new(donation.aggregated_fee_in_cents, donation.stripe_currency).format} #{donation.stripe_currency.upcase}" %>
          <% if donation.stripe_currency != "usd" %>
            <br><small class="text-muted"><%= "(#{Money.new(donation.aggregated_fee_in_cents_usd, "USD").format} USD)" %></small>
          <% end %>
        </td>
        <td>
          <%= "#{Money.new(donation.received_in_cents, donation.stripe_currency).format} #{donation.stripe_currency.upcase}" %>
          <% if donation.stripe_currency != "usd" %>
            <br><small class="text-muted"><%= "(#{Money.new(donation.received_in_cents_usd, "USD").format} USD)" %></small>
          <% end %>
        </td>
        <td><%= donation.remote_ip %></td>
        <td>
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <%= link_to "Details", view_payment_admin_donation_path(donation), class: "btn btn-default", remote: true %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @donations %>
