<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fund.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @fund.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fund.description %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @fund.close_date %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @fund.goal %>
</p>

<p>
  <strong>Team:</strong>
  <%= @fund.team_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @fund.user_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @fund.slug %>
</p>

<p>
  <strong>Charge descriptor:</strong>
  <%= @fund.charge_descriptor %>
</p>

<p>
  <strong>State:</strong>
  <%= @fund.state %>
</p>

<p>
  <strong>Org contributions:</strong>
  <%= @fund.org_contributions %>
</p>

<p>
  <strong>Website:</strong>
  <%= @fund.website %>
</p>

<p>
  <strong>Street:</strong>
  <%= @fund.street %>
</p>

<p>
  <strong>Apt suite:</strong>
  <%= @fund.apt_suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @fund.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @fund.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @fund.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @fund.country %>
</p>

<p>
  <strong>Reciept message:</strong>
  <%= @fund.reciept_message %>
</p>

<p>
  <strong>Thank you:</strong>
  <%= @fund.thank_you %>
</p>

<p>
  <strong>Thank you subject:</strong>
  <%= @fund.thank_you_subject %>
</p>

<p>
  <strong>Thank you body:</strong>
  <%= @fund.thank_you_body %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @fund.avatar %>
</p>

<p>
  <strong>Header:</strong>
  <%= @fund.header %>
</p>

<p>
  <strong>Primary color:</strong>
  <%= @fund.primary_color %>
</p>

<%= link_to 'Edit', edit_fundraiser_path(@fund) %> |
<%= link_to 'Back', fundraisers_path %>
