<h1>Listing accounts</h1>


<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Team</th>
      <th>Customer</th>
      <th>Email</th>
      <th>Default billing card</th>
      <th>Delinquent</th>
      <th>Account balance</th>
      <th>Discount</th>
      <th>Plan</th>
      <th>Plan amount</th>
      <th>Plan currency</th>
      <th>Plan interval</th>
      <th>Plan interval count</th>
      <th>Plan name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.user_id %></td>
        <td><%= account.team_id %></td>
        <td><%= account.customer_id %></td>
        <td><%= account.email %></td>
        <td><%= account.default_billing_card %></td>
        <td><%= account.delinquent %></td>
        <td><%= account.account_balance %></td>
        <td><%= account.discount %></td>
        <td><%= account.plan_id %></td>
        <td><%= account.plan_amount %></td>
        <td><%= account.plan_currency %></td>
        <td><%= account.plan_interval %></td>
        <td><%= account.plan_interval_count %></td>
        <td><%= account.plan_name %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
