<h2>Welcome to Donations.io</h2>
<p>We're happy to have you. We have just a few questions we need answered so we can get your account setup and ready to begin accepting donations.</p>


<%= form_for current_account do |f| %>
  <%= f.label :account_type %>
  <%= f.radio_button :account_type, :personal %> Personal<br>
  <%= f.radio_button :account_type, :organization %> Organization<br>

  <fieldset>
    <legend>Personal</legend>
    <%= label_tag :business_name %>
    <%= text_field_tag :business_name %>
  </fieldset>

  <fieldset>
    <legend>Organization</legend>
    <%= label_tag :business_name %>
    <%= text_field_tag :business_name %>
  </fieldset>

  <fieldset>
    <legend>Address</legend>
    <%= label_tag :line_1, "Street" %>
    <%= text_field_tag :line_1 %>
    <%= label_tag :line_2, "Apt/Suite #" %>
    <%= text_field_tag :line_2 %>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
    <%= label_tag :state %>
    <%= text_field_tag :state %>
    <%= label_tag :postal_code %>
    <%= text_field_tag :postal_code %>
    <%= label_tag :country %>
    <%= text_field_tag :country %>
  </fieldset>
<% end %>
