


        <% case setting %>
        <% when "profile" %>
          <%= form_for current_user, html: {class: "form-custom"} do |f| %>
            <fieldset>
              <legend>Contact Info</legend>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <%= f.label :first_name,"First Name", class: "control-label" %>
                    <%= f.text_field :first_name, class: "form-control" %>
                  </div>
                  <div class="col-md-6 col-sm-6 ">
                    <%= f.label :last_name, "Last Name", class: "control-label" %>
                    <%= f.text_field :last_name, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <%= f.label :gender, class: "control-label", style: "display:block" %>
                    <%= f.label :gender, class: "radio-inline", for: "user_gender_male", style: "margin-left:10px" do %>
                      <%= f.radio_button :gender, :male, class: "" %> <span class="control-indicator"></span> Male
                    <% end %>
                    <%= f.label :gender, class: "radio-inline", for: "user_gender_female" do %>
                      <%= f.radio_button :gender, :femaale, class: "" %> <span class="control-indicator"></span> Female
                    <% end %>
                  </div>
                   <div class="col-md-6 col-sm-6">
                    <%= label_tag :birthday, nil, class: "control-label" %>
                    <%= text_field_tag :irthday, nil, class: "form-control" %>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>Avatar</legend>
              <div class="form-group">
                <%= file_field_tag "avatar", class: "form-control" %>
              </div>
            </fieldset>

            <fieldset>
              <legend>Social Accounts</legend>
              <div class="form-group">
                <%= label_tag :twitter, "Twitter Handle", class: "control-label" %>
                <%= text_field_tag :twitter, nil, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag :facebook, "Facebook Username", class: "control-label" %>
                <%= text_field_tag :facebook, nil, class: "form-control" %>
              </div>
            </fieldset>


            <%= f.submit "Save Profile Settings", class: "btn btn-primary btn-lg" %>
          <% end %>
        <% when "security" %>
          <%= form_for current_user, html: {class: "form-custom"} do |f| %>
            <fieldset>
              <legend>Change Password</legend>
              <div class="form-group">
                <%= f.label :password, class: "control-label" %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, class: "control-label" %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </fieldset>

            <%= f.submit "Update Password", class: "btn btn-primary btn-lg" %>
          <% end %>
        <% when "organizations" %>
          <ul>
            <% current_user.accounts.each do |account| %>
              <li><%= account.name %></li>
            <% end %>
          </ul>
        <% end %>


