<header class="content-header">
  <div class="container small">
    <nav class="nav">
      <%= link_to "Profile", setting_path(setting: "profile"), class: active_classes(setting_path(setting: "profile"))  %>
      <%= link_to "Security", setting_path(setting: "security"), class: active_classes(setting_path(setting: "security"))  %>
      <%= link_to "Notifications", setting_path(setting: "notifications"), class: active_classes(setting_path(setting: "notifications")) %>
      <%= link_to "Credit Cards", setting_path(setting: "credit-cards"), class: active_classes(setting_path(setting: "credit-cards")) %>
        <%= link_to "Bank Accounts", setting_path(setting: "bank-accounts"), class: active_classes(setting_path(setting: "bank-accounts")) %>
      <%= link_to "Subscription", setting_path(setting: "subscription"), class: active_classes(setting_path(setting: "subscription")) %>
      <%= link_to "Organizations", setting_path(setting: "organizations"), class: active_classes(setting_path(setting: "organizations")) %>
    </nav>
  </div>
</header>
<div class="clearfix"></div>
