<header class="content-header">
  <div class="container">
    <nav class="nav">
      <%= link_to "Profile", profile_path, class: active_classes(profile_path)  %>
      <%= link_to "Security", profile_path(setting: "security"), class: active_classes(profile_path(setting: "security"))  %>
      <%= link_to "Notifications", profile_path(setting: "notifications"), class: active_classes(profile_path(setting: "notifications")) %>
      <%= link_to "Bank Accounts", profile_path(setting: "bank-accounts"), class: active_classes(profile_path(setting: "bank-accounts")) %>
      <%= link_to "Cards", profile_path(setting: "credit-cards"), class: active_classes(profile_path(setting: "credit-cards")) %>
    </nav>
  </div>
</header>
<div class="clearfix"></div>
