<% case setting %>
<% when "security" %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <fieldset>
      <legend>Change Password</legend>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        <p class="help-block">We need your current password to make changes.</p>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group submit">
        <%= f.submit "Save Settings", class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
<% when "notifications" %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-actions">
      <%= f.submit "Save Settings", class: "btn btn-primary" %>
    </div>
  <% end %>
<% when "credit-cards" %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-actions">
      <%= f.submit "Save Settings", class: "btn btn-primary" %>
    </div>
  <% end %>
<% when "bank-accounts" %>
  <h2>Bank accounts</h2>
  <table>
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Last Four</th>
        <th>Default</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.bank_accounts.complete.each do |bank_account| %>
        <tr>
          <td><%= bank_account.nickname %></td>
          <td><%= bank_account.stripe_bank_account_last4 %></td>
          <td><%= bank_account.default_stripe_bank_account %></td>
          <td><%= bank_account.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>New Bank Account</h2>
  <%= form_for @bank_account do |f| %>
    <div class="field">
      <%= f.label :nickname, "Name" %>
      <%= f.text_field :nickname %>
    </div>
    <div class="field">
      <%= label_tag :routing_number %>
      <%= text_field_tag :routing_number, "110000000", name: nil, id: "routing_number" %>
    </div>
    <div class="field">
      <%= label_tag :account_number %>
      <%= text_field_tag :account_number, "000123456789", name: nil, id: "account_number" %>
    </div>
    <div class="field">
      <%= f.label :country %>
      <%= f.country_select :country, stripe_country_options(request) %>
    </div>
    <div class="field">
      <%= f.label :currency %>
      <%= f.select :currency, [], {}, {} %>
    </div>
    <div class="field">
      <%= f.label :default_stripe_bank_account %>
      <%= f.check_box :default_stripe_bank_account %>
    </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <%= form_for(resource, url: update_profile_path, html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <fieldset>
      <legend>Contact Info</legend>
        <div class="field">
          <%= f.label :username %><br>
          <%= f.text_field :username %><br>
          <small>http://onedonation.com/<%= current_user.username %></small>
        </div>

        <div class="field">
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :timezone %><br>
          <%= f.time_zone_select(:timezone, ActiveSupport::TimeZone.us_zones)  %>
        </div>

          <div class="field">
          <%= f.label :current_password, "Password" %><br>
          <%= f.password_field :current_password  %>
        </div>

        <div class="actions">
          <%= f.submit "Save Settings" %>
        </div>
    </fieldset>
  <% end %>
<% end %>
